{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "Urls": "http://localhost:5082",
  "Cors": {
    "Origins": [
      "http://localhost:5173",
      "http://127.0.0.1:5173"
    ]
  }
}
