{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "Default": ""
  },
  "Jwt": {
    "Key": "",
    "Issuer": "ChessServer",
    "Audience": "ChessClient"
  },
  "Cors": {
    "Origins": [
      "http://chesss.runasp.net"
    ]
  }
}
